#about{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#about h2{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 20px 0; 
  }

#about p{
  letter-spacing: 0.2vw;
  line-height: 2.5rem;
  padding: 10px;
  font-weight: 600;

  
}