#contact{
  position: relative;
}
h1{
  text-align: center;
  margin: 20px 0; 
  text-transform: uppercase;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  max-width: 200px;
  padding: 10px;
  margin: 10px;
}

textarea{
  resize: none;
  max-width: 300px;
  height: 100px;
  padding: 10px;
  margin: 10px;

}

