#home{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}
#home h2{
  text-transform: uppercase;
  letter-spacing: 1vw;
  font-size: 5vw;
  text-align: center;
  padding: 2vw;
}
.introduction{
  padding: 1vw;
  column-count: 3;
  column-rule-style: solid;
}
.introduction p{
  letter-spacing: 0.2vw;
  line-height: 2rem;
}
h3{
  font-size: 3vw;
  padding: 10px 0;
 

}
.imageContainer{
  text-align: center;
}
img{
  max-width: 25vw;
}
ul{
  padding-left: 10px;
}
li{
  list-style: none;
}