#home{
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid black;
  animation: fade 2s ease ;
  padding: 10px;
}
#home h1{
  text-transform: uppercase;
  letter-spacing: 1vw;
  padding: 10px ;
  text-align: center;
  font-size: 7vw
 
}
.introduction{
 
  padding: 1vw;
  column-count: 3;
  column-rule-style: solid;
 
  
}
.introParagraph{
  margin-bottom: 10px;
  line-height: 4vh;
}
.introduction p{
  letter-spacing: 0.2vw;
  line-height: 4vh;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 1.2rem;
}
#home h2{
  font-weight: 800;
  padding-bottom: 10px ; 
  text-decoration: underline;
  
}
.imageContainer{
  text-align: center;


}
#home img{
  width: 100%;
  max-width: 400px;
}
ul{
  padding-left: 25px;

}
li{
  
  padding-bottom: 10px;

}
#home > div > ul > li> svg{
  font-size: 0.8rem;

}


@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}

@media only screen and (min-width: 1100px) {

 .introduction h2{
  font-size: 3rem;
 }
  .introduction p{
   font-size: 2rem;
    padding-bottom: 10px;
    font-weight: 600;
  }
  .introduction li{
    font-size: 2rem;
  }
}

 @media only screen and (max-width: 450px){
  .introduction {
    column-count: 2;
   }
   
} 