#projects{
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-wrap: break-word;
}
#projects h1{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1vw;
  margin: 20px 0; 

}
#projects h3{
  margin-bottom: 10px;
}
.projectsContainer{

  padding: 5px;
  column-count: 3;
  column-rule: solid;
}

.linkToGit a{
  text-decoration: underline;
  color: black;
  font-weight: 700;
  cursor: pointer;
 
}
#projects p{
  margin: 10px 0;
  font-weight: 600;

}