#projects{
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-wrap: break-word;
}
#projects h1{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1vw;
  margin: 20px 0; 

}
.project h3{
  margin: 10px 0;
  text-align: center;
}
.projectsContainer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:space-evenly;
gap: 10px;

}
.project{
  max-width: 350px;
  max-height: 450px;
  height: 100%;
 border: 1px solid black;
 box-shadow: 1px 1px;
 padding: 10px;
 
}
.project:hover{
  box-shadow: 3px 3px;
}
.project a:hover{
 color: gray;
}
.project a {
  text-decoration: none;
  color: black;
  
}
.project img{
  cursor: pointer;
  width: 100%;
  
}

.linkToGit a{
  text-decoration: underline;
  color: black;
  font-weight: 700;
  cursor: pointer;
 
}
.project p{
  margin: 10px 0;
  font-weight: 600;

}
 .gitInfo{
  text-align: center;
  margin-top: 10px;
 }



.modal img{
  width: 100%;
 height: auto;
}
