#projects{
  display: flex;
  flex-direction: column;
}
#projects h1{
  font-size: 4vw;
  
}
.projectsContainer{

  padding: 5px;
  column-count: 3;
  column-rule: solid;
}
.imageGallery h3{
  font-size: 2vw;
}