*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}
body{
  font-family: 'Montserrat', sans-serif;
}

header{
 
  background-color: rgb(178, 192, 192);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  z-index: 1;
}
.logo{
  font-family: 'Tilt Prism', sans-serif;
  padding: 5px;
  border: 1px solid black;
}
header nav a{
  padding: 10px;
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  
}
.hamburger{
  display: none;
}

#home{
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 10px;
  margin-bottom: 20px;
  padding: 20px ;
  border-bottom: 1px solid black;
}
.imageContainer{
  display: flex;
  justify-content: center;
  align-items: start;


}
#home img{
  max-width: 300px;
 
}
.introduction{
  font-size: 1.5rem;
  line-height: 2.5rem;
  max-width: 800px;
}
.projectsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}
#projects h1,h3{
  text-align: center;
  padding: 10px;
}

.emphasize{
  font-weight: 700;
}
.imageGallery{
  max-width: 400px;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 1px 2px 1px;

}
.imageGallery p {
  margin-top: 10px;
}
.imageGallery h3{
  border-bottom: 1px solid black;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2px;
}
.image-gallery-image{
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

button.image-gallery-icon.image-gallery-right-nav > svg,button.image-gallery-icon.image-gallery-left-nav > svg{
  height: 60px;
}
@media only screen and (max-width: 500px) {
  nav {
   display: none;
  }
  .hamburger{
    display: block;
  }
  .clickedMenu{
   display: flex;
   flex-direction: column;
   align-items: end;
  }
  .hamburgerclicked{
    display: none;
  }

}