*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}
body{
  font-family: 'Montserrat', sans-serif;
}

header{
 
  background-color: rgb(178, 192, 192);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
 }
.logo{
  font-family: 'Tilt Prism', sans-serif;
  padding: 5px;
  border: 1px solid black;
}
.logo:hover{
 color:  rgb(178, 192, 192); ;
  background-color: black;
  transition:all 0.5s ease;

}
header nav a{
  padding: 10px;
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  
}
nav a:hover{
  color:  rgb(178, 192, 192); ;
  background-color: black;
  transition:all 0.5s ease;
}
.hamburger{
  display: none;
}


.projectsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}
#projects h1, #projects h3,#projects p{
  text-align: center;
  padding: 10px;
}

.emphasize{
  font-weight: 700;
  text-decoration: none;
}
#projects a{
  text-decoration: none;
  color: black;
}
.imageGallery{
  max-width: 400px;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 1px 2px 1px;

}
.imageGallery p {
  margin-top: 10px;
}
.imageGallery h3{
  border-bottom: 1px solid black;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2px;
}
.image-gallery-image{
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.imageGallery:hover{
  box-shadow: 3px 3px 3px;
}

button.image-gallery-icon.image-gallery-right-nav > svg,button.image-gallery-icon.image-gallery-left-nav > svg{
  height: 60px;
}
@media only screen and (max-width: 500px) {
  nav {
   display: none;
  }
  .hamburger{
    display: block;
    cursor: pointer;
  }
  .clickedMenu{
   display: flex;
   flex-direction: column;
   align-items: end;
  }
  .hamburgerclicked{
    display: none;
    
  }
 

}